
.thumbnail{
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.search-bar{
    font-size: 18px;
    padding-left: 15px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-radius: 50px;
    border-color: grey;
    display: block;
    margin-bottom: 30px;
    align-items: center;
    
}
.video-info-container{
    display: inline-block;
    width: 300px;
}
.video-title{
    font-weight: bold;
    margin-bottom: 3px;
    font-family: Monomakh;
}

.Author{
    margin-top: 5px;
    display: block;
    margin-bottom: 5px;
    color: grey;}

.video-stats{
    margin-top: 5px; 
    display: block;
    color: grey;
   
}