
.sign-up{
    color: white;
    background-color: rgb(19, 107, 223);
    padding: 12px;
    font-weight: bold;
    width: 30%;
    border: none;
    display: block;
    margin-top: 10px;
}

.FirstName, .LastName{
    padding: 10px;
    display: inline-block;
    margin-bottom: 5px;
    width: 15%;
}

.email{
    padding: 10px;
    display: block;
    width: 30%;
}